## Import Library

In [ ]:
import h5py as hp
import pandas as pd
import numpy as np
import time as tm

## Load song_json

In [2]:
df2=pd.read_csv('song.json',sep='\t')
df2.rename(columns={'id': 'song_id'}, inplace=True)
df2.head()

     song_id  album_id  artist_id
0   25267636   2367943       9025
1  213410542  20629604    7106311
2   47747224   4827544    2479753
3   36945181   3715401    1004781
4   37404043   3756480      21373

## Load Various_Artist

In [3]:
Various_Artist=pd.read_hdf('Various_Artist.h5','a')
Various_Artist.head()

         artist_name  artist_id
21   Various Artists   297472.0
30   Various Artists    21023.0
31   Various Artists    21373.0
35   Various Artists        NaN
109  Various Artists   930049.0

## Merge artist by song_id and Remove Various_Artist

In [4]:
size=0
start_time=tm.time()
for ii in range(97,101,1):
    for j in range(97,123,1):
        file_name='1'+chr(ii)+chr(j)+'.h5'
        df=pd.read_hdf(file_name,'a')
        df=df.merge(df2,on='song_id', how='left')
        df.drop(['song_id','played_at','month','day','week','album_id'], axis=1, inplace=True)
        df=df[~df['artist_id'].isin(Various_Artist.artist_id)]
        df.to_hdf(file_name,'a')
        print ('File_name:%s Data_size:%d'%(file_name,len(df)))
        size=size+len(df)
        if(ii==100 and j==108):
            break
end_time=tm.time()-start_time
print ('Data_size:%d Process_time:%d'%(size,end_time))

File_name:1aa.h5 Data_size:9324796
File_name:1ab.h5 Data_size:9334214
File_name:1ac.h5 Data_size:9338888
File_name:1ad.h5 Data_size:9358791
File_name:1ae.h5 Data_size:9382878
File_name:1af.h5 Data_size:9385913
File_name:1ag.h5 Data_size:9390597
File_name:1ah.h5 Data_size:9437189
File_name:1ai.h5 Data_size:9440155
File_name:1aj.h5 Data_size:9443822
File_name:1ak.h5 Data_size:9435749
File_name:1al.h5 Data_size:9445096
File_name:1am.h5 Data_size:9438515
File_name:1an.h5 Data_size:9435662
File_name:1ao.h5 Data_size:9416473
File_name:1ap.h5 Data_size:9389539
File_name:1aq.h5 Data_size:9336591
File_name:1ar.h5 Data_size:9310195
File_name:1as.h5 Data_size:9289379
File_name:1at.h5 Data_size:9328719
File_name:1au.h5 Data_size:9354862
File_name:1av.h5 Data_size:9311346
File_name:1aw.h5 Data_size:9273926
File_name:1ax.h5 Data_size:9305030
File_name:1ay.h5 Data_size:9328124
File_name:1az.h5 Data_size:9289823
File_name:1ba.h5 Data_size:9323306
File_name:1bb.h5 Data_size:9339268
File_name:1bc.h5 Data_size:9225522
File_name:1bd.h5 Data_size:9302419

/home/e817/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:1299: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block0_values] [items->['msno']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)

File_name:1be.h5 Data_size:9296500
File_name:1bf.h5 Data_size:9174491
File_name:1bg.h5 Data_size:9178720
File_name:1bh.h5 Data_size:9252551
File_name:1bi.h5 Data_size:9272507
File_name:1bj.h5 Data_size:9312138
File_name:1bk.h5 Data_size:9239111
File_name:1bl.h5 Data_size:9204437
File_name:1bm.h5 Data_size:9208043
File_name:1bn.h5 Data_size:9304468
File_name:1bo.h5 Data_size:9344794
File_name:1bp.h5 Data_size:9330574
File_name:1bq.h5 Data_size:9355006
File_name:1br.h5 Data_size:9341172
File_name:1bs.h5 Data_size:9381415
File_name:1bt.h5 Data_size:9374812
File_name:1bu.h5 Data_size:9369478
File_name:1bv.h5 Data_size:9364590
File_name:1bw.h5 Data_size:9163024
File_name:1bx.h5 Data_size:9109779
File_name:1by.h5 Data_size:9042455
File_name:1bz.h5 Data_size:9160661
File_name:1ca.h5 Data_size:9143329
File_name:1cb.h5 Data_size:9332173
File_name:1cc.h5 Data_size:9360136
File_name:1cd.h5 Data_size:9129988
File_name:1ce.h5 Data_size:9019567
File_name:1cf.h5 Data_size:9071524
File_name:1cg.h5 Data_size:8864152
File_name:1ch.h5 Data_size:9030734
File_name:1ci.h5 Data_size:8943721
File_name:1cj.h5 Data_size:9293284
File_name:1ck.h5 Data_size:9288024
File_name:1cl.h5 Data_size:9176252
File_name:1cm.h5 Data_size:9192570
File_name:1cn.h5 Data_size:9340957
File_name:1co.h5 Data_size:8875542
File_name:1cp.h5 Data_size:8542977
File_name:1cq.h5 Data_size:8420769
File_name:1cr.h5 Data_size:8922480
File_name:1cs.h5 Data_size:9081851
File_name:1ct.h5 Data_size:9025982
File_name:1cu.h5 Data_size:9196996
File_name:1cv.h5 Data_size:9438915
File_name:1cw.h5 Data_size:9347730
File_name:1cx.h5 Data_size:9257092
File_name:1cy.h5 Data_size:9341913
File_name:1cz.h5 Data_size:9290008
File_name:1da.h5 Data_size:9219642
File_name:1db.h5 Data_size:9105951
File_name:1dc.h5 Data_size:8331210
File_name:1dd.h5 Data_size:8814206
File_name:1de.h5 Data_size:9420373
File_name:1df.h5 Data_size:9393309
File_name:1dg.h5 Data_size:9209978
File_name:1dh.h5 Data_size:9238529
File_name:1di.h5 Data_size:9407008
File_name:1dj.h5 Data_size:9388427
File_name:1dk.h5 Data_size:9374273
File_name:1dl.h5 Data_size:7205858
Data_size:829534943 Process_time:1462

In [5]:
df

                 msno  number  artist_id
0             5471836       0    5603802
1            12628193       0    3051448
2            66768647       0       4261
3        338067507366       0      55135
4           127131638       0    1357924
5            95166581       0       8280
6           148469323       0    4665401
7           124841066       0       5301
8             6044716       0     966227
9           133135405       0      48967
10           40018919       0    6018423
11           40018919       0    7154336
12            2405632       0       8977
13           34824015       0    6720290
14           55467683       0    4380075
15           27691018       0       1584
16           96958841       0      13531
17            2192418       0       4261
18            1848452       0       7875
20            3095337       0       4261
21            3095337       0       4261
22           41338196       0      25638
23           30943824       0       6197
24           10152469       0         74
25           52836200       0        439
26          142605589       0     254180
27          148714348       0       6651
28           25168662       0       8280
29       338066526452       0      13554
30          152865558       0     299065
...               ...     ...        ...
7487106       1198006       0       4261
7487107      13014263       0    6931185
7487108      35216505       0    3755189
7487109  338063770542       0      40703
7487110  338063770542       0     186054
7487111      16691393       0      55718
7487112       2092264       0      49897
7487113       4938895       0       2002
7487114      34437966       0    5191317
7487115      69404811       0       4261
7487116      96829447       0    2236899
7487117        987779       0    2424531
7487119       1693096       0      45437
7487120     156867030       0    2402656
7487121      51905681       0      40080
7487122  338065830620       0      48967
7487123      35319459       0      51403
7487124      34220550       0    5006432
7487125      95597060       0       7713
7487126      30236517       0       4908
7487127      72897261       0    2185155
7487128      26517569       0      56422
7487129  338062583500       0     254180
7487130       4795676       0       4261
7487131      49924427       0       6651
7487132     141816223       0     254207
7487133     109190723       0       5301
7487134     133027648       0       6650
7487135     128060720       0    3128836
7487136      11146199       0      49897

[7205858 rows x 3 columns]